body {
    background-color: #1b87c8;
}

header {
    background-color: #8bff69;
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;
    font-size: 2em;
}
h2{
    font-family: Arial;
    color: #000000;

}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 2.5em;
    transition: color 0.3s;
    font-family: fantasy
}

nav ul li a:hover {
    color: #1b87c8;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    background-color: #1b87c8;
}

section {
    width: 90%;
    margin: 20px;
    text-align: center;
}

section img {
    width: 100%;
    height: auto;
}

section h2, section a {
    margin: 10px 0;
}

section a {
    text-decoration: none;
    color: #333;
}

section a:hover {
    opacity: 0.8;
}


@media (min-width: 601px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        margin: 0 20px;
    }

    nav ul li a {
        font-size: 1.2em;
    }

    main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    section {
        width: 400px;
        margin: 40px;
    }
}